@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

header h1{
    border: 5px solid red;
    text-align: center;
}

header p{
    border: 5px solid blue;
    text-align: center;
}